body {
  background-color: #0a203b;
}

.logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px; /* Set the width of the logo image */
  height: auto; /* This ensures the aspect ratio is maintained */
}
header {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: flex-start;
}


.flex-container {
  display: flex;
  border: 1px solid #d8ea11;
}
/* 
.flex-container {
  display: flex;
  top: 0;
  left: 100;
  width: 10px;
  height: auto;
  justify-content: space-between;
  align-items: top;
} */
.flex-item {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}





.container {
  height: 100vh;
  width: 150;
  background-image: url(background.png);
  background-position: center;
  background-size: cover;
  padding-right: 3%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
} 



nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: flex-end;
  align-items: flex-start; /* Align items vertically in the center */
  align-content: flex-start; /* Align the content vertically in the center */
} */

nav ul li {
  margin: 0;
  padding: 0;
}

 nav ul li a {
  text-decoration: none;
  color: #11db69;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}