{% load static %}

<!DOCTYPE html>
<html>
    <head> 
        <title>   web page          </title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">
        
        <script src="{% static 'myapp/js/connect_to_home_page.js' %}"></script>
        {% comment %} <style>
            h1{1st page
                color: red;
            }
            
               
        </style> {% endcomment %}

    </head>
    <body>

        <h1>file</h1>
    </body>
    </html>

